DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="generate-32-char-secret"
NEXTAUTH_URL="http://localhost:3000"
UPLOAD_DIR="./uploads"

# S3 を使う場合のみ設定
AWS_S3_BUCKET=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

