DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="generate-32-char-secret"
UPLOAD_DIR="./uploads"
CREDENTIALS_ENCRYPTION_KEY="base64-32bytes-key"

# S3 を使う場合のみ設定
AWS_S3_BUCKET=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# Solar Monitor (Solar Frontier)
SOLAR_MONITOR_LOGIN_ID=""
SOLAR_MONITOR_PASSWORD=""

